body{
  background-color: rgb(35, 35, 35);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}
 
  
.card{
  display: flex;
  justify-content: center;
  background-color: rgb(238, 91, 65);
  border: 1px solid rgb(232, 209, 209);
  border-radius: 20px;
  margin: 10px 10px;
  padding: 5px;
  backdrop-filter: blur(5px);
}
.card img {
  width: 290px;
  height: 280px;
  display: flex;
  justify-content: center;
  padding-right: 15px;
  margin: 5px;
 
}
